.Homepage {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin-top: -80px;
  overflow-x: hidden;

  .header {
    position: absolute;
    width: 494px;
    height: 180px;
    left: 13%;
    top: 277px;
    color: white;
    h1 {
      font-family: "Arvo", serif;
      font-size: 64px;
      font-weight: bold;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    p {
      font-family: "Open Sans", sans-serif;
      font-size: 20px;
      font-weight: lighter;
      margin-bottom: 51px;
    }

    .buttons {
      .hvr-fade {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        overflow: hidden;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: color, background-color;
        transition-property: color, background-color;
      }

      .hvr-fade {
        padding: 15px 25px;
        border-radius: 50px;
        font-size: 18px;
        font-family: "Arvo", serif;
        color: white;

        border: none;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        cursor: pointer;
        &:first-child {
          background-color: #9fd772;
          margin-right: 19px;

          &:hover {
            background-color: #79a754;
            text-decoration: none;
          }
        }

        &:nth-child(even) {
          background-color: #d772d2;

          &:hover {
            background-color: #bd5db8;
            text-decoration: none;
          }
        }
      }
    }
  }

  .dog-image {
    position: absolute;
    width: 546px;
    height: 546px;
    left: 50%;
    top: 220px;

    img {
      width: 80%;
    }
  }
}
