.Spinner {
  text-align: center;
  margin-top: 200px;
  padding-bottom: 400px;

  .spinner-container {
    .loading {
      font-family: "Arvo", serif;
      position: relative;
      bottom: 50px;
      color: white;
    }
  }
}
