* {
  margin: 0;
  padding: 0;
}

.App {
  background: url("./assets/paws.jpg");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;

  .overlay {
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 114, 215, 0.96);
  }
}
